/*styling my website*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
      transition: smooth;
}

body{
      background-color: #111111;
      color: #F2F2F2;
}

:root{
      --primary-color: #600566;
      --secondary-color: #000000;
      --padding: 10px 20px;
}

.container{
      padding: 0 100px;
}

header{
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #000000;
      z-index: 10;
}

.logo > h2{
     color: #ffffff;
     font-size: 32px;
}

header > nav{
      width: 40%;
}

header > nav > ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 18px;
      align-items: center;
}

.nav-item:hover{
      color: var(--primary-color);
}

.contact-btn {
      background-color:var(--primary-color);
      padding: 8px 30px;
      border: none;
      border-radius: 5px;
      color: #111111;
}

.hero{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      align-items: center;
      height: 100vh;
}

.hero-text{
      display: flex;
      flex-direction: column;

}

.hero-text > span{
      background-color: #000000;
      color:var(--primary-color);
      border-radius: 100px;
      padding: 10px 20px;
      font-size: 16px;
      margin: 20px 0;
}

.hero-text > h2{
      font-size: 40px;
}

.hero-text > div{
      margin: 20px 0;
}

.name{
      color: #600566;
}

.hero-text > p{
      color: #600566;
}

.view-btn{
      background: none;
      border: 2px solidvar(--primary-color);
      color:var(--primary-color);
}

.hero-image{
      display: flex;
      justify-content: center;
}

.hero-image > img{
      height: 300px;
}

/* About section */
.about{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
      align-items: center;
}

.about-profile{
      width: 100%;
      border-radius: 30px;
}

.about-experience{
      padding: 20px;
      border-radius: 10px;
      background-color: #000000;
      color: #600566;
      width: 70px;
      height: 40px;
      text-align: center;
      position: absolute;
      top: 30px;
      right: -30px;
}

.about-image{
      position: relative;
}

.about-text{
      background-color: #600566(191, 194, 0);
}

.about-profile{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 20px;
}

.profile-grid{
      background-color:#ffffff;
      width: 300px;
      color: black;
      border-radius: 10px;
      padding: 10px;
      border: 2px solid #ffffff;
}

.profile-grid:hover{
      border-color:var(--primary-color);
      box-shadow: 5px 5px 25px #F2F2F2(0, 255, 55, 0.3);
      transform: scale(1.01)
}

